@font-face {
  font-family: "Tangerine-Regular";
  src: url('../fonts/Tangerine-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "satisfy-Regular";
  src: url('../fonts/Satisfy-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  color: #2C3E50;
}
.mainContainer-2 {
  width: 100%;
  height: 80vh;
  margin: 20px;
  display: flex;
  flex-direction: row; 
  justify-content: flex-start; 
  align-items: center; 
  opacity: 1;

}

.profile-section {
  
  margin-right: 40px;
  margin-left: 40px; 
}

.text-section {
  display: flex;
  flex-direction: column; 
  justify-content: right; 
  margin-left:30px;
}

@keyframes typewriter {
  from {
      width: 0; /* Start with no width */
  }
  to {
      width: 100%; /* End with full width */
  }
}

@keyframes blink {
  0% {
      border-right-color: transparent; /* Make the cursor transparent */
  }
  100% {
      border-right-color: #003366; /* Make the cursor visible */
  }
}

.typewriter {
  font-family: "Tangerine-Regular"; /* Use your custom font */
  white-space: nowrap; /* Prevent line breaks */
  overflow: hidden; /* Hide overflow */
  border-right: 3px solid white; /* Create a cursor effect */
  width: fit-content; /* Adjust to fit content */
  animation: typewriter 3s steps(18) forwards, blink 0.75s step-end infinite; /* Adjust duration and steps as needed */
  font-size: 3.5rem;
  color: #D83400;
}
